* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.sup{
    background-color: #00008B;
    display: flex;
    padding: 5px 0px;
}

.sup img {
    width: 20px;
    height: 20px;
    display: inline-block;
    color: #fff;
}

.sup .right {
    float: right;
}

.sup .right h3 {
    font-size: 15px;
    display: inline-block;
    color: #fff;
}

.pnav {
    padding: 0px 5px;
    display: inline-block;
}

i {
    color: #fff;
}

header {
    padding-top: 25px;
    display: flex;
    background-color: #333;
}

.logo {
    display: inline-block;
    padding-bottom: 25px;
}

.logo h1 a{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    display: flex;
    float: left;
}

.sup i {
    padding-right: 15px;
    transition: 0.30s;
}

.sup i:hover {
    transform: rotate(10deg);
}

.logo h1 a i {
    padding-right: 10px;
    color: coral;
}

.nav {
    display: flex;
    float: right;
    padding-top: 10px;
    padding-bottom: 25px;
}

.nav ul {
    list-style: none;
    display: flex;
    float: right;
}

.nav ul li {
    float: right;
    display: right;
}

.nav ul li a{
    color: #fff;
    text-decoration: none;
    display: flex;
    float: right;
    transition: 0.60s;
}

.nav ul li a:hover, .nav ul li .active{
    color: coral;
    text-decoration: underline;
}

.nav ul li a:active {
    transform: rotate(0deg);
}

.nav ul .px {
    color: #fff;
    display: flex;
    padding: 0px 10px;
}

.main h1 {
    color: #fff;
    padding-top: 100px;
    padding-bottom: 20px;
}

.main p {
    color: #999;
    padding-bottom: 20px;
}

.main button {
    background-color: coral;
    border: none;
    padding: 10px 20px;
    transition: 0.30s;
    cursor: pointer;
}

.main button a {
    color: #fff;
    text-decoration: none;
    transition: 0.30s;
}

.main button:hover {
    transform: scale(1.2);
}

.main button:active {
    transform: scale(1.0);
}

.pxbig {
    padding-bottom: 150px;
}

.pl {
    padding: 0px 185px;
}

.section {
    text-align: center;
    color: #333;
    padding-bottom: 100px;
}

.section h1 {
    color: #333;
    padding-top: 100px;

}

.section p {
    color: #999;
    font-size: 20px;
    transition: 0.30s;
}

.section .sp {
    padding: 10px 0px;
}

footer {
    padding: 15px 0px;
    background: coral;
    color: #fff;
    text-align: center;
    font-size: 15px;
    transition: 0.30s;
}

footer:hover {
    background-color: #333;
}

/* About Page Part */

.con1 {
    width: 100%;
    height: 70vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.mainsign {
    background-color: #191919;
    padding: 0px 100px 20px 20px;
    border: none;
    border-radius: 30px;
    transition: 0.30s;
}

.mainsign h1 {
    color: #fff;
    padding-bottom: 50px;
    padding-top: 20px;
}

input {
    background: none;
    border: none;
    border-bottom: 2px #3498db solid;
    padding: 10px 0px;
    color: #fff;
    outline: none;
    transition: 0.30s;
}

input:focus {
    border-color: #2ecc71;
}

.b1 {
    background-color: #2ecc71;
    color: #fff;
    border: 2px solid  #2ecc71;
    border-radius: 30px;
    padding: 10px 20px;
    transition: 0.30s;
}

.b1:hover {
    color:  #2ecc71;
    background: none;
}

.signp {
    padding: 5px 0px;
}

.topp {
    padding: 10px 0px;
}

.leftp {
    padding: 0px 50px;
}

form h3 {
    color: #fff;
    font-size: 15px;
}

form h3 a {
    color: #3498db;
}